decorator
Flask
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
lxml
MarkupSafe
migrate
pbr
Pillow
PyGithub
six
SQLAlchemy
sqlalchemy-migrate
sqlparse
Tempita
Werkzeug==2.2.2
wheel
WTForms
Flask_oauthlib
pymongo
