{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
<div class="container mt-5 p-5">
	<div class="animate__animated animate__backInDown">
		<form action="/answerForumOne" method="POST">
		<div class="row p-5">
			<div class="col">
				<h3>Title</h3>
				<input class ="rita" type="text" name="ques2">
				<br>
				<h3>Body</h3>
				<input class ="rita" type="text" name="ques1">
				<br>
				<button class ="rita btn btn-primary p-3" type="submit">POST</button>
				<br>
				</form>
			</div>
		</div>
		<div class="row p-5">
			<div class="col">
				<div class="animate__animated animate__backInUp">
				{{postPostPost}}
				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}
